body{
    margin: 0;
    padding: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.justify-space-between{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#root{
    height: 100vh;
}

.drawer{
    width: 500px !important;
    
}